* {
  padding: 0px;
  margin: 0px;
}

/* variable of tone color */
:root {
  --navbarcolor: rgba(173, 99, 173, 0.813);
  --text-color: #fff;
  --button-color: rgb(254, 89, 229);
  --hover-color: rgb(179, 7, 153);
  --nav-hover: rgb(0, 0, 0);
  --background-color: rgb(255, 152, 250);
}
/* css for html */
html {
  scroll-behavior: smooth;
}

/* for tag body */
body {
  width: 100%;
  /* font-family: "DM Sans", sans-serif; */
  /* font-family: "Inter", sans-serif; */
  /* font-family: "Comfortaa", sans-serif; */
  /* font-family: "Acme", sans-serif; */
  /* font-family: "Josefin Sans", sans-serif; */
  font-family: "Montserrat", sans-serif;
}

/* css of navigation bar */
nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 10px;
  height: 54px;
  background-color: var(--navbarcolor);
  color: #fff;
  position: fixed;
  width: 100%;
  box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.783);
  z-index: 1;
}
nav ul {
  display: flex;
  justify-content: space-between;
  text-decoration: none;
  margin-right: 80px;
}
nav ul li {
  display: flex;
  justify-content: space-between;
  text-decoration: none;
  padding-left: 10px;
}
nav ul li a {
  flex-direction: row;
  justify-content: space-between;
  text-decoration: none;
  color: var(--text-color);
  padding-left: 10px;
  margin: auto;
  font-weight: 500;
}
nav ul li .nav-a:hover {
  flex-direction: row;
  justify-content: space-between;
  text-decoration: none;
  color: var(--nav-hover);
  transition: 0.2s linear;
}

nav ul li .nav-a::after {
  content: "";
  display: block;
  padding-bottom: 3px;
  border-bottom: 0.1rem solid var(--nav-hover);
  transform: scaleX(0);
  transition: 0.2s linear;
}
nav ul li .nav-a:hover::after {
  border-bottom: 0.1rem solid var(--nav-hover);
  transform: scaleX(0.5);
}

.hamburger-menu {
  width: 30px;
  height: 30px;
  margin-left: 20px;
  fill: white;
  transition: all 0.5s;
}
.hamburger-menu:hover {
  fill: black;
}

.nav-hamburger::after {
  border-bottom: none;
  transform: none;
}

#hamburger-menu {
  display: none;
}

.logo-nav {
  width: 50px;
  padding-left: 125px;
}

.h1-nav {
  margin: auto;
  position: relative;
}

.nav-brand {
  display: flex;
  color: var(--text-color);
}

/* css for page home with carousel */
.div1 {
  width: 900px;
  padding-top: 80px;
  margin: auto;
  border-radius: 5px;
  overflow: hidden;
  height: 600px;
}

.slide {
  /* position: relative; */
  overflow: hidden;
}

.corusel {
  display: flex;
  width: 100%;
  transition: 1s ease-in-out;
}

.img-slide {
  width: 100%;
  height: auto;
}

.corusel img {
  width: 100%;
}

#slide1:target ~ .corusel {
  margin-left: 0px;
}
#slide2:target ~ .corusel {
  margin-left: -100%;
}
#slide3:target ~ .corusel {
  margin-left: -200%;
}

.navigation-corusel a {
  display: inline-block;
  height: 25px;
  width: 25px;
  background-color: rgb(243, 153, 243);
  font-size: 0px;
  border-radius: 50%;
  margin: 3px;
  /* margin: 0 5px;
  padding: 5px 10px;
  border: 1px solid #ccc;
  text-decoration: none;
  color: #333;
  border-radius: 5px; */
  transition: 0.8s;
}

.active {
  background-color: #333;
  color: #fff;
}

.navigation-corusel a:hover {
  background-color: rgb(254, 100, 254);
  width: 50px;
  height: 25px;
  border-radius: 25px;
}
.navigation-corusel a:focus {
  background-color: rgb(254, 100, 254);
  width: 50px;
  height: 25px;
  border-radius: 25px;
}

.btn-carousel {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#nextBtn,
#prevBtn {
  cursor: pointer;
  background: transparent;
  font-size: 100px;
  padding: 10px;
  padding-left: 200px;
  padding-right: 200px;
  border: none;
  color: var(--text-color);
}

/* #next-Btn:target ~ .corusel {
  margin-right: 100%;
}
#prev-Btn:target ~ .corusel {
  margin-left: 100%;
} */

#nextBtn:focus,
#prevBtn:focus {
  outline: none;
}
.navigation-corusel {
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0px;
  right: 0px;
  text-align: center;
}

/* text */

.offer {
  display: flex;
  justify-content: space-between;
  padding-left: 125px;
  /* background-color: rgb(255, 152, 250); */
  background: linear-gradient(rgba(255, 255, 255, 0.582) 2%, rgb(255, 152, 250) 50%);
  height: 200px;
}

.div-offer {
  color: var(--text-color);
  text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.783);
  margin-top: auto;
  margin-bottom: auto;
  /* -webkit-text-stroke: 0.1px black;
  font-weight: 900; */
}

.div-offer .h1-buy {
  opacity: 0;
  transform: translate(0, 80px);
  transition: all ease-in 0.8s;
}
.div-offer .text-buy {
  opacity: 0;
  transform: translate(0, 80px);
  transition: all ease-in 0.8s;
}
.div-offer .h1-buy.ada {
  opacity: 1;
  transform: translate(0, 0);
}
.div-offer .text-buy.ada {
  opacity: 1;
  transform: translate(0, 0);
}

.btn-offer {
  margin-right: 100px;
  margin-top: auto;
  margin-bottom: auto;
  opacity: 0;
  transform: translate(0, 80px);
  transition: all ease-in 0.8s;
}

.btn-offer.ada {
  opacity: 1;
  transform: translate(0, 0);
}

/* button */
.offer-buy {
  font-size: 20px;
  padding: 10px;
  border-radius: 25px;
  width: 100px;
  color: var(--text-color);
  background-color: var(--button-color);
  border: 2px solid rgb(161, 2, 138);
  cursor: pointer;
}
.offer-buy:hover {
  font-size: 20px;
  padding: 10px;
  border-radius: 25px;
  width: 100px;
  color: var(--text-color);
  background-color: var(--hover-color);
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 1);
  border: 2px solid rgb(161, 2, 138);
  cursor: pointer;
}

.offer-buy a {
  text-decoration: none;
  color: var(--text-color);
}

/* style of About Us */
.About {
  background-color: #fff;
  background: linear-gradient(rgb(255, 152, 250) 2%, rgba(255, 255, 255, 0.582) 20%);
  margin-bottom: 50px;
}
.h1-about {
  text-align: center;
  color: #000;
  text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.783);
  font-size: 50px;
  width: 160px;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 80px;
  padding-top: 80px;
  opacity: 0;
  transform: translate(0, 80px);
  transition: all ease-in 0.8s;
}

.h1-about.ada {
  opacity: 1;
  transform: translate(0, 0);
}

.container {
  display: flex;
  padding: 10px;
  margin-top: 20px;
}

.container-img {
  display: flex;
  justify-content: center;
  width: fit-content;
}
.img-about {
  margin-top: 30px;
  margin-bottom: auto;
  width: 50%;
  border-radius: 10px;
  opacity: 0;
  transform: translate(-100px, 0);
  transition: all ease-in 0.8s;
}

.img-about.ada {
  opacity: 1;
  transform: translate(0, 0);
}

.about-paragraph {
  font-size: 30px;
  margin-top: 10px;
  padding-bottom: 10px;
  margin-bottom: 20px;
  width: 370px;
  opacity: 0;
  transform: translate(100px, 0);
  transition: all ease-in 0.8s;
}

.about-paragraph.ada {
  opacity: 1;
  transform: translate(0, 0);
}

.paragraph {
  width: 800px;
}

.p-about {
  padding-right: 100px;
  opacity: 0;
  transform: translate(100px, 0);
  transition: all ease-in 0.8s;
}

.p-about.ada {
  opacity: 1;
  transform: translate(0, 0);
}

/* Menu */
.menu {
  background: linear-gradient(rgba(255, 255, 255, 0.582) 1%, rgb(255, 152, 250) 100%);
}

.h1-menu {
  text-align: center;
  color: #000;
  text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.783);
  font-size: 50px;
  width: 160px;
  margin-right: auto;
  margin-left: auto;
  padding-top: 80px;
  opacity: 0;
  transform: translate(0, 80px);
  transition: all ease-in 0.8s;
}

.h1-menu.ada {
  opacity: 1;
  transform: translate(0, 0);
}

/* card menu */
.container-card-menu {
  display: flex;
  flex-wrap: wrap;
  row-gap: 20px;
  background-color: var(--background-color);
  width: 100%;
  height: 100%;
  padding-top: 50px;
}
.card-place {
  display: flex;
  flex-wrap: wrap;
  row-gap: 20px;
  /* background-color: var(--background-color); */
  width: 100%;
  height: 100%;
  padding-top: 50px;
  margin-left: 115px;
}
.card {
  width: 225px;
  height: 325px;
  background-color: #f8fbfe;
  border-radius: 8px;
  margin: 20px;
  opacity: 0;
  transform: translate(0, -100px);
  transition: all ease 0.4s;
}

.card:hover {
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 1);
  scale: 1.1;
}

.card.ada {
  opacity: 1;
  transform: translate(0, 0);
}

.tools {
  display: flex;
  align-items: center;
  padding: 9px;
}

.circle {
  padding: 0 4px;
}

.box {
  display: inline-block;
  align-items: center;
  width: 10px;
  height: 10px;
  padding: 1px;
  border-radius: 50%;
}

.red {
  background-color: #ff605c;
}

.yellow {
  background-color: #ffbd44;
}

.green {
  background-color: #00ca4e;
}

.card__content {
  display: flex;
  flex-direction: column;
  row-gap: 5px;
  padding: 10px;
  margin-bottom: 20px;
  font-size: 14px;
}

.img-card {
  width: 150px;
  padding-left: 25px;
}

.card__content h3 {
  padding-left: 30px;
}
.card__content h4 {
  margin-left: 65px;
  text-align: center;
  border-bottom: 0.5px solid #000;
  width: 80px;
}
.card__content p {
  padding-left: 30px;
  font-weight: 500;
}

.card__content ul {
  padding-left: 30px;
  font-weight: 500;
}
.card__content a {
  margin-left: 65px;
}
.card__content a button {
  width: 80px;
  font-size: 17px;
  border-radius: 15px;
  padding: 2px;
  color: var(--text-color);
  background-color: var(--button-color);
  border: 2px solid rgb(161, 2, 138);
  cursor: pointer;
  transition: all ease 0.5s;
}
.card__content a button:hover {
  width: 80px;
  font-size: 17px;
  border-radius: 15px;
  padding: 2px;
  color: var(--text-color);
  background-color: var(--hover-color);
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 1);
  border: 2px solid rgb(161, 2, 138);
  cursor: pointer;
}

.h1-contact span,
.h1-about span,
.h1-menu span {
  border-bottom: 4px solid black;
}

.h1-contact {
  text-align: center;
  color: #000;
  text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.783);
  font-size: 50px;
  width: 300px;
  margin-right: auto;
  margin-left: auto;
  padding-top: 80px;
  opacity: 0;
  transform: translate(0, 100px);
  transition: all ease-in 0.8s;
}

.h1-contact.ada {
  opacity: 1;
  transform: translate(0, 0);
}

/* Contact Us */
.contactus {
  background: linear-gradient(rgb(255, 152, 250) 1%, rgba(255, 255, 255, 0.582) 20%);
  padding-bottom: 80px;
}

.h1-contact {
  padding-top: 80px;
}

.container {
  display: flex;
  padding-top: 50px;
  padding-left: 125px;
  padding-right: 100px;
}

.iframe {
  width: 603px;
}
.iframe iframe {
  width: 450px;
}

.form {
  border-radius: 15px;
  background-color: var(--background-color);
  width: 603px;
}

.judul {
  padding-top: 30px;
  padding-left: 30px;
  padding-bottom: 30px;
  opacity: 0;
  transform: translate(0, -100px);
  transition: all ease-in 0.8s;
}

.judul.ada {
  opacity: 1;
  transform: translate(0, 0);
}

.instagram svg {
  width: 40px;
  margin-top: auto;
  margin-bottom: auto;
  height: 50px;
  transition: all 0.5s;
}

.instagram svg:hover {
  scale: 1.2;
}

.instagram {
  padding-left: 20px;
  height: 50px;
  opacity: 0;
  transform: translate(100px, 0);
  transition: all ease-in 0.8s;
}

.instagram.ada {
  opacity: 1;
  transform: translate(0, 0);
}

.wa1 {
  padding-left: 20px;
  height: 50px;
  opacity: 0;
  transform: translate(-100px, 0);
  transition: all ease-in 0.8s;
}
.wa2 {
  padding-left: 20px;
  height: 50px;
  opacity: 0;
  transform: translate(100px, 0);
  transition: all ease-in 0.8s;
}

.wa1.ada {
  opacity: 1;
  transform: translate(0, 0);
}
.wa2.ada {
  opacity: 1;
  transform: translate(0, 0);
}

.wa1 svg {
  padding-right: 5px;
  width: 40px;
  height: 50px;
  margin-top: auto;
  margin-bottom: auto;
  transition: all 0.5s;
}

.wa1 svg:hover {
  scale: 1.2;
}

.wa2 svg {
  padding-right: 5px;
  width: 40px;
  height: 50px;
  margin-top: auto;
  margin-bottom: auto;
  transition: all 0.5s;
}
.wa2 svg:hover {
  scale: 1.2;
}

.email {
  padding-left: 20px;
  height: 50px;
  opacity: 0;
  transform: translate(-100px, 0);
  transition: all ease-in 0.8s;
}

.email.ada {
  opacity: 1;
  transform: translate(0, 0);
}

.email svg {
  padding-right: 5px;
  width: 40px;
  height: 50px;
  transition: all 0.5s;
}

.email svg:hover {
  scale: 1.2;
}

.a-contact {
  display: flex;
  color: var(--text-color);
  text-decoration: none;
  font-weight: 500;
  height: 50px;
}
.p-a {
  color: var(--text-color);
  text-decoration: none;
  font-weight: 500;
  margin-top: auto;
  margin-bottom: auto;
}
.p-a:hover {
  color: black;
  text-decoration: none;
  font-weight: 500;
  margin-top: auto;
  margin-bottom: auto;
}

.address {
  color: var(--text-color);
  padding-left: 20px;
  padding-bottom: 5px;
  padding-top: 70px;
}

.p-address {
  color: var(--text-color);
  font-weight: 500;
  font-size: 15;
  padding-left: 30px;
  padding-right: 20px;
}
/* Footer */
.content {
  flex: 1;
}

footer {
  background-color: var(--navbarcolor);
  color: #fff;
  padding: 20px 0;
  flex-shrink: 0;
  width: 100%;
}

.footer-content {
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-item {
  text-align: center;
  margin: 0 10px;
}

.footer-section.social {
  display: flex;
  text-align: center;
  justify-content: center;
  margin-top: 20px;
}
.footer-section.social a {
  display: flex;
  justify-content: center;
  color: var(--text-color);
  text-decoration: none;
  padding-top: auto;
  padding-bottom: auto;
  transition: all ease-in 300ms;
}

.footer-section.social img {
  width: 30px;
  height: 30px;
  margin: 0 10px;
}

.footer-bottom {
  text-align: center;
  padding-top: 10px;
  background-color: var(--navbar-color);
}

.footer-bottom p {
  margin: 0;
  font-size: 14px;
}

.footer-text {
  color: var(--text-color);
  cursor: pointer;
  text-decoration: none;
  font-size: 18px;
  margin-bottom: 10px;
  font-weight: 600;
  transition: all ease-in 300ms;
}
.footer-text:hover {
  color: #0000ff;
  cursor: pointer;
}

.svg-footer {
  width: 20px;
  margin-top: auto;
  margin-bottom: auto;
  height: 20px;
}

.p-footer {
  color: var(--text-color);
  text-decoration: none;
  padding-top: auto;
  padding-bottom: auto;
  font-weight: 500;
  padding: 10px;
}

/* Media Queries */
/* Laptop */
@media (max-width: 1366px) {
  html {
    font-size: 100%;
  }
}

/* Tablet */
@media (max-width: 758px) {
  body {
    max-width: 100vw;
  }
  body {
    font-size: 120%;
  }

  nav {
    width: 100%;
  }

  .div1 {
    width: 100%;
  }

  .nav-text {
    margin-right: 20px;
  }

  #hamburger-menu {
    display: inline-block;
    margin: auto;
  }

  #nav-li {
    display: block;
    /* flex-direction: column; */
    position: absolute;
    top: 100%;
    padding-top: 10px;
    font-size: 110%;
    right: -100%;
    background-color: var(--navbarcolor);
    width: 20rem;
    height: 100vh;
    transition: 0.3s;
  }

  #nav-li.ada {
    font-size: 120%;
    right: 0;
  }
  #nav-li .nav-ada {
    display: block;
    padding-bottom: 50px;
  }

  .nav-a::after {
    transform-origin: 0 0;
  }
  nav ul li .nav-a:hover::after {
    transform: scaleX(0.2);
  }

  .nav-a {
    display: inline-block;
    width: 100%;
    padding-bottom: 20px;
  }

  .container {
    flex-direction: column;
  }

  .iframe,
  .iframe iframe,
  .paragraph,
  .about-paragraph,
  .form {
    width: 100%;
  }

  .about-paragraph,
  .container,
  .p-about,
  .logo-nav {
    padding-left: 0;
    padding-right: 0;
  }

  .container {
    text-align: justify;
    padding: 15px;
  }

  .offer {
    padding-left: 0;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .btn-offer.ada {
    margin: auto;
  }

  .h1-contact,
  .h1-about,
  .h1-menu,
  .about-paragraph {
    font-size: 25px;
  }

  .card,
  .card-place {
    margin: auto;
  }

  .card {
    margin-bottom: 10px;
  }

  .email {
    transform: translate(0, 100px);
  }
  .wa1 {
    transform: translate(0, 100px);
  }
  .wa2 {
    transform: translate(0, 100px);
  }
  .instagram {
    transform: translate(0, 100px);
  }
  .about-paragraph {
    transform: translate(0, 100px);
  }

  .p-about {
    transform: translate(0, 100px);
  }

  .email.ada,
  .wa1.ada,
  .wa2.ada,
  .instagram.ada,
  .about-paragraph.ada,
  .p-about.ada {
    transform: translate(0, 0);
  }

  .form {
    margin-top: 20px;
  }
  .address {
    padding-top: 50px;
  }

  .p-address {
    padding-bottom: 10px;
  }
  .footer-text {
    font-size: 15px;
  }
  /* nav ul li a {
    margin: 0px;
  }

  .navbar .navbar-nav a {
    color: var(--bg);
    display: block;
    margin: 1.5rem;
    padding: 0.5rem;
    font-size: 2rem;
  }

  .navbar .navbar-nav a::after {
    transform-origin: 0 0;
  }

  .navbar .navbar-nav a:hover::after {
    transform: scaleX(0.2);
  }

  .navbar .search-form {
    width: 90%;
    right: 2rem;
  }

  .about .row {
    flex-wrap: wrap;
  }

  .about .row .about-img img {
    height: 24rem;
    object-fit: cover;
    object-position: center;
  }

  .about .row .content {
    padding: 0;
  }

  .about .row .content h3 {
    margin-top: 1rem;
    font-size: 2rem;
  }

  .about .row .content p {
    font-size: 1.6rem;
  }

  .menu p {
    font-size: 1.2rem;
  }

  .contact .row {
    flex-wrap: wrap;
  }

  .contact .row .map {
    height: 30rem;
  }

  .contact .row form {
    padding-top: 0;
  }

  .modal-content {
    flex-wrap: wrap;
  } */
}

/* Mobile Phone */
@media (max-width: 450px) {
  html {
    font-size: 55%;
  }
}
