* {
  padding: 0px;
  margin: 0px;
}

/* variable of tone color */
:root {
  --navbarcolor: rgba(173, 99, 173, 0.813);
  --text-color: #fff;
  --button-color: rgb(254, 89, 229);
  --hover-color: rgb(179, 7, 153);
  --nav-hover: rgb(0, 0, 0);
  --background-color: rgb(255, 152, 250);
}
/* css for html */
html {
  scroll-behavior: smooth;
}

/* for tag body */
body {
  /* font-family: "DM Sans", sans-serif; */
  /* font-family: "Inter", sans-serif; */
  /* font-family: "Comfortaa", sans-serif; */
  /* font-family: "Acme", sans-serif; */
  /* font-family: "Josefin Sans", sans-serif; */
  font-family: "Montserrat", sans-serif;
}

/* css of navigation bar */
nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 10px;
  height: 54px;
  background-color: var(--navbarcolor);
  color: #fff;
  position: fixed;
  width: 100%;
  box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.783);
  z-index: 1;
}
nav ul {
  display: flex;
  justify-content: space-between;
  text-decoration: none;
  margin-right: 80px;
}
nav ul li {
  display: flex;
  justify-content: space-between;
  text-decoration: none;
  padding-left: 10px;
}
nav ul li a {
  flex-direction: row;
  justify-content: space-between;
  text-decoration: none;
  color: var(--text-color);
  margin: auto;
  font-weight: 500;
}
nav ul li .nav-a:hover {
  flex-direction: row;
  justify-content: space-between;
  text-decoration: none;
  color: var(--nav-hover);
  transition: 0.2s linear;
}

nav ul li .nav-a:after {
  content: "";
  display: block;
  padding-bottom: 3px;
  border-bottom: 0.1rem solid var(--nav-hover);
  transform: scaleX(0);
  transition: 0.2s linear;
}
nav ul li .nav-a:hover::after {
  border-bottom: 0.1rem solid var(--nav-hover);
  transform: scaleX(0.5);
}
.cart {
  width: 20px;
  height: 20px;
  margin-left: 20px;
}

.logo-nav {
  width: 50px;
  padding-left: 125px;
}

.h1-nav {
  margin: auto;
  position: relative;
}

.nav-brand {
  display: flex;
  color: var(--text-color);
}

/* css for page home with carousel */
.div1 {
  width: 900px;
  padding-top: 80px;
  margin: auto;
  border-radius: 5px;
  overflow: hidden;
  height: 600px;
}

.corusel {
  display: flex;
  width: 100%;
  transition: 1.5s;
}

.corusel img {
  width: 100%;
}

#slide1:target ~ .corusel {
  margin-left: 0px;
}
#slide2:target ~ .corusel {
  margin-left: -100%;
}
#slide3:target ~ .corusel {
  margin-left: -200%;
}

.navigation-corusel a {
  display: inline-block;
  height: 25px;
  width: 25px;
  background-color: rgb(243, 153, 243);
  font-size: 0px;
  border-radius: 50%;
  margin: 3px;
  transition: 0.8s;
}
.navigation-corusel a:hover {
  background-color: rgb(254, 100, 254);
  width: 50px;
  height: 25px;
  border-radius: 25px;
}
.navigation-corusel a:focus {
  background-color: rgb(254, 100, 254);
  width: 50px;
  height: 25px;
  border-radius: 25px;
}

.btn-carousel {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#nextBtn,
#prevBtn {
  cursor: pointer;
  background: transparent;
  font-size: 100px;
  padding: 10px;
  padding-left: 200px;
  padding-right: 200px;
  border: none;
  color: var(--text-color);
}

/* #next-Btn:target ~ .corusel {
  margin-right: 100%;
}
#prev-Btn:target ~ .corusel {
  margin-left: 100%;
} */

#nextBtn:focus,
#prevBtn:focus {
  outline: none;
}
.navigation-corusel {
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0px;
  right: 0px;
  text-align: center;
}

/* text */

.offer {
  display: flex;
  justify-content: space-between;
  padding-left: 125px;
  /* background-color: rgb(255, 152, 250); */
  background: linear-gradient(rgba(255, 255, 255, 0.582) 2%, rgb(255, 152, 250) 50%);
  height: 200px;
}

.div-offer {
  color: var(--text-color);
  text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.783);
  margin-top: auto;
  margin-bottom: auto;
  /* -webkit-text-stroke: 0.1px black;
  font-weight: 900; */
}

.div-offer .h1-buy {
  opacity: 0;
  transform: translate(0, 80px);
  transition: all ease-in 0.8s;
}
.div-offer .text-buy {
  opacity: 0;
  transform: translate(0, 80px);
  transition: all ease-in 0.8s;
}
.div-offer .h1-buy.ada {
  opacity: 1;
  transform: translate(0, 0);
}
.div-offer .text-buy.ada {
  opacity: 1;
  transform: translate(0, 0);
}

.btn-offer {
  margin-right: 100px;
  margin-top: auto;
  margin-bottom: auto;
  opacity: 0;
  transform: translate(0, 80px);
  transition: all ease-in 0.8s;
}

.btn-offer.ada {
  opacity: 1;
  transform: translate(0, 0);
}

/* button */
.offer-buy {
  font-size: 20px;
  padding: 10px;
  border-radius: 25px;
  width: 100px;
  color: var(--text-color);
  background-color: var(--button-color);
  border: 2px solid rgb(161, 2, 138);
  cursor: pointer;
}
.offer-buy:hover {
  font-size: 20px;
  padding: 10px;
  border-radius: 25px;
  width: 100px;
  color: var(--text-color);
  background-color: var(--hover-color);
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 1);
  border: 2px solid rgb(161, 2, 138);
  cursor: pointer;
}

.offer-buy a {
  text-decoration: none;
  color: var(--text-color);
}

/* style of About Us */
.About {
  background-color: #fff;
  background: linear-gradient(rgb(255, 152, 250) 2%, rgba(255, 255, 255, 0.582) 20%);
  margin-bottom: 50px;
}
.h1-about {
  text-align: center;
  color: #000;
  text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.783);
  font-size: 50px;
  border-bottom: 4px solid black;
  width: 160px;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 80px;
  padding-top: 80px;
  opacity: 0;
  transform: translate(0, 80px);
  transition: all ease-in 0.8s;
}

.h1-about.ada {
  opacity: 1;
  transform: translate(0, 0);
}

.container {
  display: flex;
  padding: 10px;
  margin-top: 20px;
}

.container-img {
  display: flex;
  justify-content: center;
  width: fit-content;
}
.img-about {
  margin-top: 30px;
  margin-bottom: auto;
  width: 50%;
  border-radius: 10px;
  opacity: 0;
  transform: translate(-100px, 0);
  transition: all ease-in 0.8s;
}

.img-about.ada {
  opacity: 1;
  transform: translate(0, 0);
}

.about-paragraph {
  font-size: 30px;
  margin-top: 10px;
  padding-bottom: 10px;
  margin-bottom: 20px;
  width: 370px;
  opacity: 0;
  transform: translate(100px, 0);
  transition: all ease-in 0.8s;
}

.about-paragraph.ada {
  opacity: 1;
  transform: translate(0, 0);
}

.paragraph {
  width: 800px;
}

.p-about {
  padding-right: 100px;
  opacity: 0;
  transform: translate(100px, 0);
  transition: all ease-in 0.8s;
}

.p-about.ada {
  opacity: 1;
  transform: translate(0, 0);
}

/* Menu */
.menu {
  background: linear-gradient(rgba(255, 255, 255, 0.582) 1%, rgb(255, 152, 250) 100%);
}

.h1-menu {
  text-align: center;
  color: #000;
  text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.783);
  font-size: 50px;
  border-bottom: 4px solid black;
  width: 160px;
  margin-right: auto;
  margin-left: auto;
  padding-top: 80px;
  opacity: 0;
  transform: translate(0, 80px);
  transition: all ease-in 0.8s;
}

.h1-menu.ada {
  opacity: 1;
  transform: translate(0, 0);
}

/* card menu */
.container-card-menu {
  display: flex;
  flex-wrap: wrap;
  row-gap: 20px;
  background-color: var(--background-color);
  width: 100%;
  height: 100%;
  padding-top: 50px;
}
.card-place {
  display: flex;
  flex-wrap: wrap;
  row-gap: 20px;
  /* background-color: var(--background-color); */
  width: 100%;
  height: 100%;
  padding-top: 50px;
  margin-left: 115px;
}
.card {
  width: 225px;
  height: 325px;
  background-color: #f8fbfe;
  border-radius: 8px;
  margin: 20px;
  opacity: 0;
  transform: translate(0, -100px);
  transition: all ease 0.4s;
}

.card:hover {
  box-shadow: 4px 4px 30px rgba(0, 0, 0, 1);
  margin: 10px;
}

.card.ada {
  opacity: 1;
  transform: translate(0, 0);
}

.tools {
  display: flex;
  align-items: center;
  padding: 9px;
}

.circle {
  padding: 0 4px;
}

.box {
  display: inline-block;
  align-items: center;
  width: 10px;
  height: 10px;
  padding: 1px;
  border-radius: 50%;
}

.red {
  background-color: #ff605c;
}

.yellow {
  background-color: #ffbd44;
}

.green {
  background-color: #00ca4e;
}

.card__content {
  display: flex;
  flex-direction: column;
  row-gap: 5px;
  padding: 10px;
  margin-bottom: 20px;
  font-size: 14px;
}

.img-card {
  width: 150px;
  padding-left: 25px;
}

.card__content h3 {
  padding-left: 30px;
}
.card__content h4 {
  margin-left: 65px;
  text-align: center;
  border-bottom: 0.5px solid #000;
  width: 80px;
}
.card__content p {
  padding-left: 30px;
  font-weight: 500;
}

.card__content ul {
  padding-left: 30px;
  font-weight: 500;
}
.card__content a {
  margin-left: 65px;
}
.card__content a button {
  width: 80px;
  font-size: 17px;
  border-radius: 15px;
  padding: 2px;
  color: var(--text-color);
  background-color: var(--button-color);
  border: 2px solid rgb(161, 2, 138);
  cursor: pointer;
  transition: all ease 0.5s;
}
.card__content a button:hover {
  width: 80px;
  font-size: 17px;
  border-radius: 15px;
  padding: 2px;
  color: var(--text-color);
  background-color: var(--hover-color);
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 1);
  border: 2px solid rgb(161, 2, 138);
  cursor: pointer;
}

.h1-contact {
  text-align: center;
  color: #000;
  text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.783);
  font-size: 50px;
  border-bottom: 4px solid black;
  width: 300px;
  margin-right: auto;
  margin-left: auto;
  padding-top: 80px;
  opacity: 0;
  transform: translate(0, 100px);
  transition: all ease-in 0.8s;
}

.h1-contact.ada {
  opacity: 1;
  transform: translate(0, 0);
}

/* Contact Us */
.contactus {
  background: linear-gradient(rgb(255, 152, 250) 1%, rgba(255, 255, 255, 0.582) 20%);
  padding-bottom: 80px;
}

.h1-contact {
  padding-top: 80px;
}

.container {
  display: flex;
  padding-top: 50px;
  padding-left: 125px;
  padding-right: 100px;
}

.iframe {
  width: 603px;
}
.iframe iframe {
  width: 450px;
}

.form {
  border-radius: 15px;
  background-color: var(--background-color);
  width: 603px;
}

.judul {
  padding-top: 30px;
  padding-left: 30px;
  padding-bottom: 30px;
  opacity: 0;
  transform: translate(100px, 0);
  transition: all ease-in 0.8s;
}

.judul.ada {
  opacity: 1;
  transform: translate(0, 0);
}

.instagram svg {
  width: 40px;
  margin-top: auto;
  margin-bottom: auto;
  height: 50px;
}

.instagram {
  padding-left: 20px;
  height: 50px;
  opacity: 0;
  transform: translate(-100px, 0);
  transition: all ease-in 0.8s;
}

.instagram.ada {
  opacity: 1;
  transform: translate(0, 0);
}

.wa1 {
  padding-left: 20px;
  height: 50px;
  opacity: 0;
  transform: translate(100px, 0);
  transition: all ease-in 0.8s;
}
.wa2 {
  padding-left: 20px;
  height: 50px;
  opacity: 0;
  transform: translate(-100px, 0);
  transition: all ease-in 0.8s;
}

.wa1.ada {
  opacity: 1;
  transform: translate(0, 0);
}
.wa2.ada {
  opacity: 1;
  transform: translate(0, 0);
}

.wa1 svg {
  padding-right: 5px;
  width: 40px;
  height: 50px;
  margin-top: auto;
  margin-bottom: auto;
}
.wa2 svg {
  padding-right: 5px;
  width: 40px;
  height: 50px;
  margin-top: auto;
  margin-bottom: auto;
}

.email {
  padding-left: 20px;
  height: 50px;
  opacity: 0;
  transform: translate(100px, 0);
  transition: all ease-in 0.8s;
}

.email.ada {
  opacity: 1;
  transform: translate(0, 0);
}

.email svg {
  padding-right: 5px;
  width: 40px;
  height: 50px;
}

.a-contact {
  display: flex;
  color: var(--text-color);
  text-decoration: none;
  font-weight: 500;
  height: 50px;
}
.p-a {
  color: var(--text-color);
  text-decoration: none;
  font-weight: 500;
  margin-top: auto;
  margin-bottom: auto;
}
.p-a:hover {
  color: black;
  text-decoration: none;
  font-weight: 500;
  margin-top: auto;
  margin-bottom: auto;
}

.address {
  color: var(--text-color);
  padding-left: 20px;
  padding-bottom: 5px;
  padding-top: 70px;
}

.p-address {
  color: var(--text-color);
  font-weight: 500;
  font-size: 15;
  padding-left: 30px;
  padding-right: 20px;
}
/* Footer */
.content {
  flex: 1;
}

footer {
  background-color: var(--navbarcolor);
  color: #fff;
  padding: 20px 0;
  flex-shrink: 0;
  width: 100%;
}

.footer-content {
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-item {
  text-align: center;
  margin: 0 10px;
}

.footer-section.social {
  display: flex;
  text-align: center;
  justify-content: center;
  margin-top: 20px;
}
.footer-section.social a {
  display: flex;
  justify-content: center;
  color: var(--text-color);
  text-decoration: none;
  padding-top: auto;
  padding-bottom: auto;
  transition: all ease-in 300ms;
}

.footer-section.social img {
  width: 30px;
  height: 30px;
  margin: 0 10px;
}

.footer-bottom {
  text-align: center;
  padding-top: 10px;
  background-color: var(--navbar-color);
}

.footer-bottom p {
  margin: 0;
  font-size: 14px;
}

.footer-text {
  color: var(--text-color);
  cursor: pointer;
  text-decoration: none;
  font-size: 18px;
  margin-bottom: 10px;
  font-weight: 600;
  transition: all ease-in 300ms;
}
.footer-text:hover {
  color: #0000ff;
  cursor: pointer;
}

.svg-footer {
  width: 20px;
  margin-top: auto;
  margin-bottom: auto;
  height: 20px;
}

.p-footer {
  color: var(--text-color);
  text-decoration: none;
  padding-top: auto;
  padding-bottom: auto;
  font-weight: 500;
  padding: 10px;
}
