* {
  padding: 0px;
  margin: 0px;
}

:root {
  --navbarcolor: rgba(0, 0, 0, 0.783);
  --text-color: #fff;
}

body {
  font-family: "DM Sans", sans-serif;
  font-family: "Inter", sans-serif;
  font-family: "Montserrat", sans-serif;
}

nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 10px;
  padding-top: px;
  padding-left: 125px;
  height: 54px;
  background-color: var(--navbarcolor);
  color: #fff;
}
nav ul {
  display: flex;
  justify-content: space-between;
  text-decoration: none;
}
nav ul li {
  display: flex;
  justify-content: space-between;
  text-decoration: none;
  padding-left: 10px;
}
nav ul li a {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  text-decoration: none;
  color: var(--text-color);
  margin: auto;
}

.cart {
  width: 20px;
  height: 20px;
  margin-left: 20px;
}

.logo-nav {
  width: 50px;
}

.h1-nav {
  margin: auto;
  position: relative;
}

.nav-brand {
  display: flex;
  color: var(--text-color);
}
